
* {
  margin: 0%;
  padding: 0%;
}

.container-fluid {
  /* margin: auto; */
  /* display: block; */
  font-size: 2em;
  max-width: 70vw;
  margin-top: 10vh;
}

.alarm {
  background-color: white;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
}

@keyframes strobe {
  50% { background: #d9534f; }
}

.alarm-on {
  cursor: pointer;
  animation-duration: 400ms;
  animation: strobe 700ms ease infinite;
}

.clock {
  font-size: 1.75em;
}

.set {
  float: right;
  width: 16vw;
}

.snooze {
  float: left;
  width: 24vw;
}

.button-container {
  margin-right: 6vw;
}
