
* {
  margin: 0%;
  padding: 0%;
}

.container-fluid {
  /* margin: auto; */
  /* display: block; */
  font-size: 2em;
  max-width: 70vw;
  margin-top: 40vh;
}

.set {
  float: right;
}

.snooze {
  float: left;
}