
* {
  margin: 0%;
  padding: 0%;
}

.container-fluid {
  font-size: 2em;
  max-width: 70vw;
  margin-top: 10vh;
}


/* =================== MEDIA QUERIES =================== */

@media only screen and (max-width: 768px) {

  .container-fluid {
    margin-top: 5vh;
  }
  
}

@media only screen and (max-width: 576px) {

  .container-fluid {
    font-size: 1.5em;
  }
  
}